:root{
    --primary-color: rgb(4, 21, 31);
    --secondary-color: rgb(248, 242, 232);
    --accent-color: rgb(24, 58, 55);
}

* {
    font-family: "Roboto", "sans-serif";
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

header {
    margin: 0;
}

main {
    padding: 1rem;
}